.about-us{
  height: 400px;
  padding-top: 30px;
  .big-container{
    margin: 30px;
    text-align: justify;
    font-family: $page-font;
    font-size: 18px;
  }
  .small-container{
     margin: 30px 10px 10px 10px;
    text-align: justify;
    font-family: $page-font;
    font-size: 14px;
  }
}