header{
  min-height: 100vh;
  height: 600px;
  width: auto;
  background: url(../img/ice-small.jpg) no-repeat;
  .title{
    padding-top: 70px;
    text-align: center;
     color: $logo-color;
     font-family: $logo;
    font-size: 40px;
    span{
      font-size: 50px;
    }
    h2{
      padding-top: 5px;
      font-size: 20px;
    }
  }
  .button{
    height: 25px;
    width: 150px;
    margin: 0 auto;
    margin-top: 80px;
    padding-top: 4px;
    text-align: center;
    font-family: $page-font;
    color: $logo-color;
    background: rgba(52 ,54, 57, 0.5);
    
    border: 1px solid $logo-color;
   
  }
}